@font-face {
  font-family: "Dongle-Bold";
  src: url(Dongle-Bold.ttf);
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "GlacialIndifference-Regular.otf" ;
  src: url(GlacialIndifference-Regular.otf);
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  }

@font-face {
  font-family: "GlacialIndifference-Bold.otf";
  src:url(GlacialIndifference-Bold.otf);
  font-display: swap;
  font-style: normal;
  font-weight: normal;
  }

html, body {
  width: 100%;
  overflow-x: hidden;
}

** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("background.png");object-fit: cover;
  
}

.page {
  width: 100%;
  max-width: 430px;
  margin: 0 center;
  padding: 16px;
}

/* HEADER */
.header {
  position: relative;
}

.header img {
  width: 100%;
  display: block;
}

/* NOTE */
.note {
  margin-top: 10px;
  font-size: 70px;
  font-weight: 400;
  text-align: center;
  color: #555;
  line-height: 1;
  font-family: "Dongle-Bold";
  max-width: 10;

}
.social-buttons {
  display: flex;
  justify-content: center;
  gap: 0.5;
  margin-top: 20px;
}

.social-buttons a {
  display: inline-block;
  padding: 0;
  background: none;
  flex: none;
}

.social-buttons img {
  width: 780px;   /* SESUAI PNG */
  height: auto;
  display: block;
}

.section1 {
  position: relative;
  max-width: 1600px;
  margin: auto;
}

.section1-img {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 40px;
}

.section1-info {
  margin-left: -30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 45px;
  font-size: 28px;
  position: absolute;
  line-height: 1.2;
  top: 80px;
  right: 160px;
  width: 400;
  color: #333;
}

.section1-info p {
  margin: 19px 0;
  right: 50px;
  font-size: 30px;
  color: #444;
   font-family: "GlacialIndifference-Regular.otf";
}

.section1-info b {
  font-size: 50px;
  color: #222;
  font-family: "Dongle-Bold";
}


.fun-text {
  position: absolute;
  top: 1898px;   
  left: 430px;   
  width: 865px;  
  font-size: 33px;
  color: #555;
  line-height: 1.4;
  font-family: "GlacialIndifference-Regular.otf";
}


.item{
  position: relative;  
  height: 90px;  
  top: 2930;      
}

.item-1 h4 { top: 2900px; left: 90px; }
.item-1 p { top: 2900px; left: 90px; }

.content{
  position: relative; /* PENTING */
  width: 100%;
}

.section4{
  width: 100%;
  display: block;
}

.text-2-line {
  position: absolute;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  top: 860px;   
  left: 150px; 
  color: #555;
  font-size: 40px;
  max-width: 600px;
  font-family: "Dongle-Bold";
  line-height: 1;
}

  